:root {
  --main-title-color: #ffffff;
  --second-title-color: #2f303a;
  --third-title-color: #e5e5e5;
  --fourth-title-color: #f5f4fa;
  --first-text-color: #ffffff;
  --second-text-color: #2121ss1;
  --third-text-color: #757575;
  --fourth-text-color: #2196f3;
  --first-button-color: #ffffff;
  --second-button-color: #2196f3;
  --header-text-color: #212121;
  --header-link-color: #757575;
  --accent-color: #2196f3;
}
.p a h1 h2 h3 h4 h5 {
  margin: 0;
}
.ul {
  margin: 0;
  padding: 0;
}
.container-body {
  width: 1600px;
  margin: auto;
}
body {
  font-family: "Roboto", Roboto;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.header {
  background-color: #ffffff;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header-container {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 25px;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-connect {
  margin-left: auto;
}
.header-list {
  display: flex;
}

.logo-first {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--fourth-text-color);
}

.header-link-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
  margin-left: 0px;
}

.header-item {
  margin-right: 50px;
}

.header-item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14x;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.header-link-tell {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14x;
  letter-spacing: 0.02em;
  color: var(--header-link-color);
}
.header-link-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14x;
  letter-spacing: 0.02em;
  color: var(--header-link-color);
  margin-left: 50px;
}

.header-link-list:hover,
.header-link-list:focus {
  color: var(--accent-color);
}
/*--hero--*/
.hero-container {
  display: flex;
}
.hero-list-button {
    display: flex;
  margin-top: 100px;
  padding: 0px;
  margin-left: 293px;
  margin-bottom: 56px;
}
.hero-button-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  min-width: 73px;
  height: 38px;
  border-radius: 4px;
  color: var(--header-text-color);
  background-color: #f5f4fa;
  margin-left: 8px;
  border: 1px solid #f5f4fa;
}

.hero-button-item:hover,
.hero-button-item:focus {
  background-color: var(--second-button-color);
}
/*--about--*/
.about-container {
}
.about-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}
.about-item {
  margin-right: 30px;
  margin-bottom: 50px;
}
.about-item:nth-child(3n + 3) {
  margin-right: 0px;
}
.about-item-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
  margin-top: 20px;
  margin: 0px;
}
.about-item-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--header-link-color);
  margin: 0px;
}

/*---CONTACS--*/
.contacs {
  background-color: #2f303a;
}
.contacs-container {
  padding-bottom: 60px;
  padding-top: 60px;
  display: flex;
  }
.contacs-text {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-left: 40px;
}

.contacs-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.contacs-item-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  
  color: rgba(255, 255, 255, 0.6);
}
/* alignment */
.contacs-item-address {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
 
  color: #ffffff;
}
.connect{
  margin-left: 70px;
}
.footer-social-item+ .footer-social-item{
  margin-left: 10px;
}

.footer-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;

  color: var(--first-text-color);
}

.footer-social-list{
  display: flex;
  justify-content: center;
  padding: 0px;
}

.footer-social-item {
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  
}
.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
 align-items: center;
 justify-content: center;
 color: #AFB1B8;
 background-color: rgba(255, 255, 255, 0.1);
 
}
.footer-social-icon {
  fill:currentColor;
}
.footer-social-link:hover, 
.footer-social-link:focus  {
    background-color: var(--second-button-color);
    color: var(--first-button-color);
}