:root {
  --main-title-color: #ffffff;
  --second-title-color: #2f303a;
  --third-title-color: #e5e5e5;
  --fourth-title-color: #f5f4fa;
  --first-text-color: #ffffff;
  --second-text-color: #2121ss1;
  --third-text-color: #757575;
  --fourth-text-color: #2196f3;
  --first-button-color: #ffffff;
  --second-button-color: #2196f3;
  --header-text-color: #212121;
  --header-link-color: #757575;
  --accent-color: #2196f3;
}
.p a h1 h2 h3 h4 h5 {
  margin: 0;
}
.ul {
  margin: 0;
  padding: 0;
}
.container-body {
  width: 1600px;
  margin: auto;
}
body {
  font-family: "Roboto", Roboto;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
/*--HEADER --*/
.header {
  background-color: #ffffff;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header-container {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 25px;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-connect {
  margin-left: auto;
}
.header-list {
  display: flex;
}

.logo-first {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--fourth-text-color);
}

.header-link-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
  
}

.header-item {
  margin-right: 50px;
}

.header-item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.header-icon-icon{
    padding: 0px;
  margin-right: 10px;
}
.header-link-tell {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-link-color);
}
.header-link-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-link-color);
  margin-left: 50px;
}

.header-link-list:hover,
.header-link-list:focus {
  color: var(--accent-color);
}
/*--HERO--*/
.hero {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../mode-1/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  display: float;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  width: 696px;
  height: 120px;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  margin: 0 auto;
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  justify-content: center;
  min-height: 50px;
  border-radius: 4px;
  margin: 0 auto;
  color: var(--first-button-color);
  background-color: #2196f3;
  margin-top: 30px;
}
/*--ABOUT--*/
.about {
  background-color: #ffffff;
}
.about-container {
  padding-top: 94px;
}
.about-list {
  display: flex;
}
.about-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  width: 270px;
    margin: 0 auto;
  margin-right: 30px;
    letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.about-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--second-title-color);
}
.about-icon-item+ .about-icon-item{
  margin-left: 10px;
}
.about-icon-list{
  display: flex;
  justify-content: center;
  padding: 0px;
}

.about-icon-item {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
.about-icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F4FA;
  border-radius: 4px;
 }


/*--WORK--*/
.work {
  background-color: #ffffff;
}
.work-container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50;
}
.work-list {
  display: flex;
  margin: 0 auto;
}
.work-item {
  margin-right: 30px;
}

/*--COMMAND--*/
.command {
  background-color: #f5f4fa;
}
.command-container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.command-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 0px;

  color: var(--second-text-color);
}
.command-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;

  color: var(--second-title-color);
}

.command-list {
  display: flex;
}
.command-item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-right: 30px;

  color: var(--third-text-color);
  background-color: #ffffff;
  box-shadow: 1px 3px 1px 1px rgb(0, 0, 0, 0.2);
}
.cammand-item-text {
  font-style: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.command-social-item+ .command-social-item{
  margin-left: 10px;
}
.command-social-list{
  display: flex;
  justify-content: center;
  padding: 0px;
}

.command-social-item {
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
}
.command-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
 align-items: center;
 justify-content: center;
 color: #AFB1B8;
 
}
.command-social-icon {
  fill:currentColor;
}
.command-social-link:hover, 
.command-social-link:focus  {
    background-color: var(--second-button-color);
    color: var(--first-button-color);
}
/*-- clients --*/


.clients {
  background-color: #ffffff;
}
.clients-container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;

  color: var(--second-title-color);
}

.clients-social-item+ .clients-social-item{
  margin-left: 10px;
}
.clients-social-list{
  display: flex;
  justify-content: center;
  padding: 0px;
}

.clients-social-item {
  width: 170px;
  height: 92px;
  margin-bottom: 94px;
}
.clients-social-link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  display: flex;
 align-items: center;
 justify-content: center;
 color: #AFB1B8;
 
}
.clients-social-icon {
  fill:currentColor;
}
.clients-social-link:hover, 
.clients-social-link:focus  {
    border: 1px solid #2196f3;
    background-color: transparent;
    color: var(--second-button-color);
}

/*---CONTACS--*/
.contacs {
  background-color: #2f303a;
}
.contacs-container {
  padding-bottom: 60px;
  padding-top: 60px;
  display: flex;
  }
.contacs-text {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-left: 40px;
}

.contacs-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.contacs-item-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  
  color: rgba(255, 255, 255, 0.6);
}
/* alignment */
.contacs-item-address {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
 
  color: #ffffff;
}
.connect{
  margin-left: 70px;
}
.footer-social-item+ .footer-social-item{
  margin-left: 10px;
}

.footer-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;

  color: var(--first-text-color);
}

.footer-social-list{
  display: flex;
  justify-content: center;
  padding: 0px;
}

.footer-social-item {
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  
}
.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
 align-items: center;
 justify-content: center;
 color: #AFB1B8;
 background-color: rgba(255, 255, 255, 0.1);
 
}
.footer-social-icon {
  fill:currentColor;
}
.footer-social-link:hover, 
.footer-social-link:focus  {
    background-color: var(--second-button-color);
    color: var(--first-button-color);
}