:root {
  --main-title-color: #ffffff;
  --second-title-color: #2f303a;
  --third-title-color: #e5e5e5;
  --fourth-title-color: #f5f4fa;
  --first-text-color: #ffffff;
  --second-text-color: #212121;
  --third-text-color: #757575;
  --fourth-text-color: #2196f3;
  --first-button-color: #ffffff;
  --second-button-color: #2196f3;
  --header-text-color: #212121;
  --header-link-color: #757575;
  --accent-color: #2196f3;
}

body {
  font-family: "Roboto", Roboto;
}
.list {
  list-style-type: none;
}
.link a {
  text-decoration: none;
}
/*--HEADER --*/

.header-link {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
}
.header-tell {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14x;
  letter-spacing: 0.02em;
  color: var(--header-link-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
/*--HERO--*/

.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--first-button-color);
}
/*--ABOUT--*/

.about-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--third-text-color);
}
.about-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--second-text-color);
}
/*--WORK--*/

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/*--COMMAND--*/

.command-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-text-color);
}
.command-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-text-color);
}
.command-item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--third-text-color);
}
/*---CONTACS--*/
.contacs-text {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--fourth-text-color);
}
.contacs-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
}
.contacs-item-tell link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
/* alignment */
.header-navigation